/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */



/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/
body{
    display: block;
    margin: 70px;
    padding: auto;
    height: 100vh;
}
p{
    font-size: 20px;
}
.contenedor{
    width: 80%;
    min-width: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
body{
    height: 100vh;
    background-color: #FFFFFF;
    text-align: center;
}
.centrar-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*contenedor*/
#contenedor1{
    margin: 0;
    padding: auto;
    height: 100px;
    width: 120px;
    flex-wrap: wrap;
    flex-direction: column;
}
/*texto*/
#color{
    font-size: 20px;
    font-weight: bold;   
}
/*boton*/
button{
    font-size: 12px;
    color: #7e0a6e;
    border-radius: 20px;
    background-color: #ec99e1;
    margin: 5px;
    padding: 3px 5px;
    border: 2px solid #7e0a6e;
    user-select: none;
    cursor: pointer;
    transition-duration: 0.5s;
}
button:hover{
    background-color: #3CEE36;
}
@media screen and (max-width:800px){
    main{
        width: 100%;
    }
    h1{
        text-align: center; color: #7e0a6e;
        font: size 36px;
        font-family: Tahoma, sans-serif;
        margin: 50px;
        padding: auto 50px;
    }
    h2{
        text-align: center; color: #7e0a6e;
        font: size 30px;
        font-family: Tahoma, sans-serif;
        margin: 50px;
        padding: center 50px;
    }
    #contenidos{
        text-align:justify; color:black;
        line-height: 1.2;font: size 28px;
        font-family: Tahoma, sans-serif;
        margin: auto;
    }
    button{
        font-size: 12px;
        color: #7e0a6e;
        border-radius: 20px;
        background-color: #ec99e1;
        margin: 5px;
        padding: 3px 5px;
        border: 2px solid #7e0a6e;
        user-select: none;
        cursor: pointer;
        transition-duration: 0.5s;
    }
    button:hover{
        background-color: #3CEE36;
    }
    }
    h6{
        color: #fbfbfb;
        font-family: Verdana, sans-serif;
        font-size: 20px;
        line-height: 0;
        margin: auto;
        padding: auto;
        text-align: center;    
    }
    .contenedor{
        width: 80%;
        min-width: 100vh;
        max-width: 1000px;
        margin: 0 auto;
        overflow: hidden;
    }
    #contenidos3{
        text-align: center;
        justify-content: center;
        color: #7e0a6e;
        font-size: 16px;
        font-family: Verdana, sans-serif;
        margin: auto;
        line-height: 2em;
        padding: 0 auto;
    }
    .caja{
        background-color: #7e0a6e;
        border: 3px solid #ec99e1;
        justify-content: justify;
        text-align: center;
        border-radius: 20px;
        margin: 100px auto;
        display: flexbox; 
        flex-flow: row wrap;
        width: 350px;
        height: 60px;
        padding: auto;
        list-style: none;
    }
    h6{
        color: #fbfbfb;
        font-family: Verdana, sans-serif;
        font-size: 20px;
        line-height: 0;
        margin: 0;
        padding: auto;
        text-align: center;    
    }
    h3.titulomodal{
        color:#7e0a6e;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        font-family: Verdana, sans-serif;
    }
    main{
        margin: auto;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    #btnModal{
        background-color: #ec99e1;
        border: 3px solid #7e0a6e;
        justify-content: justify;
        text-align: center;
        border-radius: 20px;
        margin: 100px auto;
        display: flexbox; 
        flex-flow: row wrap;
        width: 350px;
        height: 60px;
        padding: auto;
        list-style: none;
    } 
    
    .imagen{
        display: flex;
        border: 4px solid #7e0a6e;
        border-radius: 5000px;
        margin: auto auto;
        padding: auto;
        width: 30%;
        height: auto;
    }
    footer{
        background: #7e0a6e; color: #ec99e1;
        text-align:center;
        max-width: 100%;
        display: flex;
        justify-content: center;
        font-family: Verdana, sans-serif;
        padding: 20px;
        height: 80px;
        font-size: 14px;
    }


@media screen and (max-width:400px){
    .contenedor{
        width: 100%;
    }
    h1{
        text-align: center; color: #7e0a6e;
        font: size 36px;
        font-family: Tahoma, sans-serif;
        margin: 50px;
        padding: auto 50px;
    }
    h2{
        text-align: center; color: #7e0a6e;
        font: size 30px;
        font-family: Tahoma, sans-serif;
        margin: 50px;
        padding: center 50px;
    }
    #contenidos{
        text-align:justify; color:black;
        line-height: 1.2;font: size 28px;
        font-family: Tahoma, sans-serif;
        margin: auto;
    }
    button{
        font-size: 12px;
        color: #7e0a6e;
        border-radius: 20px;
        background-color: #ec99e1;
        margin: 5px;
        padding: 3px 5px;
        border: 2px solid #7e0a6e;
        user-select: none;
        cursor: pointer;
        transition-duration: 0.5s;
    }
    button:hover{
        background-color: #3CEE36;
    }
    h6{
        color: #fbfbfb;
        font-family: Verdana, sans-serif;
        font-size: 20px;
        line-height: 0;
        margin: auto;
        padding: auto;
        text-align: center;    
    }
    .contenedor{
        width: 80%;
        min-width: 100vh;
        max-width: 1000px;
        margin: 0 auto;
        overflow: hidden;
    }
    #contenidos3{
        text-align: center;
        justify-content: center;
        color: #7e0a6e;
        font-size: 16px;
        font-family: Verdana, sans-serif;
        margin: auto;
        line-height: 2em;
        padding: 0 auto;
    }
    .caja{
        background-color: #7e0a6e;
        border: 3px solid #ec99e1;
        justify-content: justify;
        text-align: center;
        border-radius: 20px;
        margin: 100px auto;
        display: flexbox; 
        flex-flow: row wrap;
        width: 350px;
        height: 60px;
        padding: auto;
        list-style: none;
    }
    h6{
        color: #fbfbfb;
        font-family: Verdana, sans-serif;
        font-size: 20px;
        line-height: 0;
        margin: 0;
        padding: auto;
        text-align: center;    
    }
    h3.titulomodal{
        color:#7e0a6e;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        font-family: Verdana, sans-serif;
    }
    main{
        margin: auto;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    #btnModal{
        background-color: #ec99e1;
        border: 3px solid #7e0a6e;
        justify-content: justify;
        text-align: center;
        border-radius: 20px;
        margin: 100px auto;
        display: flexbox; 
        flex-flow: row wrap;
        width: 350px;
        height: 60px;
        padding: auto;
        list-style: none;
    } 
    
    .imagen{
        display: flex;
        border: 4px solid #7e0a6e;
        border-radius: 5000px;
        margin: auto auto;
        padding: auto;
        width: 30%;
        height: auto;
    }
    footer{
        background: #7e0a6e; color: #ec99e1;
        text-align:center;
        max-width: 100%;
        display: flex;
        justify-content: center;
        font-family: Verdana, sans-serif;
        padding: 20px;
        height: 80px;
        font-size: 14px;
    }
}

/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}
/* Para quitar los puntos a los items de listas */

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
header{
    position: fixed;
    top: 0;
    width: 10%;
    display: flex;
    justify-content: space-around;
    height: 70px;
    text-align: center; color: #7e0a6e;
    list-style: none;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 90px;
}
ul{
    position: relative;
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    position: relative;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    margin: 0 50px;
    color: #7e0a6e;
    font-size: 12px;
}
a{
    list-style: none;
    position: relative;
    font-family: Tahoma, sans-serif;
    text-decoration: none;
    margin: 0 50px;
    color: #7e0a6e;
    font-weight: bold;
    font-size: 16px;
}
header a{
    cursor: pointer;
}
h1{
    text-align: center; color: #7e0a6e;
    font: size 36px;
    font-family: Tahoma, sans-serif;
    margin: 50px;
    padding: auto 50px;
}
h2{
    text-align: center; color: #7e0a6e;
    font: size 36px;
    font-family: Tahoma, sans-serif;
    margin: 50px;
    padding: auto 50px;
}
ol{
    color:black;
    line-height: 1.5;
    font-size:10px;
    font-family: Verdana, sans-serif;
}
#contenidos{
    text-align:justify; color:black;
    line-height: 1.2;font: size 28px;
    font-family: Tahoma, sans-serif;
    margin: auto;
}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
.caja{
    background-color: #7e0a6e;
    border: 3px solid #ec99e1;
    justify-content: justify;
    text-align: center;
    border-radius: 20px;
    margin: 100px auto;
    display: flexbox; 
    flex-flow: row wrap;
    width: 350px;
    height: 60px;
    padding: auto;
    list-style: none;
}
h6{
    color: #fbfbfb;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    line-height: 0;
    margin: 0;
    padding: auto;
    text-align: center;    
}
h3.titulomodal{
    color:#7e0a6e;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    font-family: Verdana, sans-serif;
}
#btnModal{
    background-color: #ec99e1;
    border: 3px solid #7e0a6e;
    justify-content: justify;
    text-align: center;
    border-radius: 20px;
    margin: 100px auto;
    display: flexbox; 
    flex-flow: row wrap;
    width: 350px;
    height: 60px;
    padding: auto;
    list-style: none;
} 
.flex-container {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-top: 25%;
    color: #ec99e1;
    font-size: 20px;
}
.flex-item {
    display: inherit;
    width:50px;
    height:50px;
    margin:5px;
}
.flex-item p {
    width:100%; 
    text-align:center; 
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center; 
    margin:0; 
}
.flex-container.space-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
    padding: 3%;
    margin-top: 3px;
    margin-bottom: 3px;
}

/*Modal*/
.modalContainer {
        display: none; 
        position: fixed; 
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

.modalContainer .modal-content {
        background-color: #ec99e1;
        margin: auto;
        padding: 20px;
        border: 1px solid #7e0a6e;
        border-top: 10px solid #7e0a6e;
        width: 60%;
        text-align: left;
        overflow: visible;
    }


.modalContainer .close {
        color: #ec99e1;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
.modalContainer .close:hover,
.modalContainer .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }


.list{
        text-align: left;
        font-size: 14px;
        display: inline-block;
    }
.contacto{
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 20px auto;
    padding: 30px;
}
.caja3{
    border: 2px solid #7e0a6e;
    background-color: #ec99e1;
    width: 420px;
    height: 190px;
    display: flexbox;
    justify-content: center;
    margin: auto;
    padding: 0;
    text-align: center;
}
/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main{
    margin: auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.imagen{
    display: flex;
    border: 4px solid #7e0a6e;
    border-radius: 2000px;
    margin: 80px auto;
    padding: 5px;
    width: 35%;
    height: auto;
}
footer{
    background: #7e0a6e; color: #ec99e1;
    text-align:center;
    max-width: 100%;
    display: flex;
    justify-content: center;
    font-family: Verdana, sans-serif;
    padding: 20px;
    height: 80px;
    font-size: 14px;
}

/*nuevo css*/
@media (max-width: 768px){
    body{
        width: 90%;
    }
    header{
        width: 90%;
    }
    h1{
        text-align: center; color: #7e0a6e;
        font: size 36px;
        font-family: Tahoma, sans-serif;
        margin: 50px;
        padding: auto 50px;
    }
    h2{
        text-align: center; color: #7e0a6e;
        font: size 30px;
        font-family: Tahoma, sans-serif;
        margin: 50px;
        padding: center 50px;
    }
    #contenidos{
        text-align:justify; color:black;
        line-height: 1.2;font: size 28px;
        font-family: Tahoma, sans-serif;
        margin: auto;
    }
    button{
        font-size: 12px;
        color: #7e0a6e;
        border-radius: 20px;
        background-color: #ec99e1;
        margin: 5px;
        padding: 3px 5px;
        border: 2px solid #7e0a6e;
        user-select: none;
        cursor: pointer;
        transition-duration: 0.5s;
    }
    button:hover{
        background-color: #3CEE36;
    }
    h6{
        color: #fbfbfb;
        font-family: Verdana, sans-serif;
        font-size: 20px;
        line-height: 0;
        margin: auto;
        padding: auto;
        text-align: center;    
    }
    .contenedor{
        width: 80%;
        min-width: 100vh;
        max-width: 1000px;
        margin: 0 auto;
        overflow: hidden;
    }
    #contenidos3{
        text-align: center;
        justify-content: center;
        color: #7e0a6e;
        font-size: 16px;
        font-family: Verdana, sans-serif;
        margin: auto;
        line-height: 2em;
        padding: 0 auto;
    }
    .caja{
        background-color: #7e0a6e;
        border: 3px solid #ec99e1;
        justify-content: justify;
        text-align: center;
        border-radius: 20px;
        margin: 100px auto;
        display: flexbox; 
        flex-flow: row wrap;
        width: 350px;
        height: 60px;
        padding: auto;
        list-style: none;
    }
    h6{
        color: #fbfbfb;
        font-family: Verdana, sans-serif;
        font-size: 20px;
        line-height: 0;
        margin: 0;
        padding: auto;
        text-align: center;    
    }
    h3.titulomodal{
        color:#7e0a6e;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        font-family: Verdana, sans-serif;
    }
    main{
        margin: auto;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    #btnModal{
        background-color: #ec99e1;
        border: 3px solid #7e0a6e;
        justify-content: justify;
        text-align: center;
        border-radius: 20px;
        margin: 100px auto;
        display: flexbox; 
        flex-flow: row wrap;
        width: 350px;
        height: 60px;
        padding: auto;
        list-style: none;
    } 
    
    .imagen{
        display: flex;
        border: 4px solid #7e0a6e;
        border-radius: 5000px;
        margin: auto auto;
        padding: auto;
        width: 30%;
        height: auto;
    }
    footer{
        background: #7e0a6e; color: #ec99e1;
        text-align:center;
        max-width: 100%;
        display: flex;
        justify-content: center;
        font-family: Verdana, sans-serif;
        padding: 20px;
        height: 80px;
        font-size: 14px;
    }
}

/*desktop*/
@media (min-width: 1024px) {
    body{
        width: 90%;
    }
    header{
        width: 90%;
    }
    h1{
        text-align: center; color: #7e0a6e;
        font: size 36px;
        font-family: Tahoma, sans-serif;
        margin: 50px;
        padding: auto 50px;
    }
    h2{
        text-align: center; color: #7e0a6e;
        font: size 30px;
        font-family: Tahoma, sans-serif;
        margin: 50px;
        padding: center 50px;
    }
    #contenidos{
        text-align:justify; color:black;
        line-height: 1.2;font: size 28px;
        font-family: Tahoma, sans-serif;
        margin: auto;
    }
    button{
        font-size: 12px;
        color: #7e0a6e;
        border-radius: 20px;
        background-color: #ec99e1;
        margin: 5px;
        padding: 3px 5px;
        border: 2px solid #7e0a6e;
        user-select: none;
        cursor: pointer;
        transition-duration: 0.5s;
    }
    button:hover{
        background-color: #3CEE36;
    }
    h6{
        color: #fbfbfb;
        font-family: Verdana, sans-serif;
        font-size: 20px;
        line-height: 0;
        margin: auto;
        padding: auto;
        text-align: center;    
    }
    .contenedor{
        width: 80%;
        min-width: 100vh;
        max-width: 1000px;
        margin: 0 auto;
        overflow: hidden;
    }
    #contenidos3{
        text-align: center;
        justify-content: center;
        color: #7e0a6e;
        font-size: 16px;
        font-family: Verdana, sans-serif;
        margin: auto;
        line-height: 2em;
        padding: 0 auto;
    }
    .caja{
        background-color: #7e0a6e;
        border: 3px solid #ec99e1;
        justify-content: justify;
        text-align: center;
        border-radius: 20px;
        margin: 100px auto;
        display: flexbox; 
        flex-flow: row wrap;
        width: 350px;
        height: 60px;
        padding: auto;
        list-style: none;
    }
    h6{
        color: #fbfbfb;
        font-family: Verdana, sans-serif;
        font-size: 20px;
        line-height: 0;
        margin: 0;
        padding: auto;
        text-align: center;    
    }
    h3.titulomodal{
        color:#7e0a6e;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        font-family: Verdana, sans-serif;
    }
    main{
        margin: auto;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    #btnModal{
        background-color: #ec99e1;
        border: 3px solid #7e0a6e;
        justify-content: justify;
        text-align: center;
        border-radius: 20px;
        margin: 100px auto;
        display: flexbox; 
        flex-flow: row wrap;
        width: 350px;
        height: 60px;
        padding: auto;
        list-style: none;
    } 
    
    .imagen{
        display: flex;
        border: 4px solid #7e0a6e;
        border-radius: 5000px;
        margin: auto auto;
        padding: auto;
        width: 30%;
        height: auto;
    }
    footer{
        background: #7e0a6e; color: #ec99e1;
        text-align:center;
        max-width: 100%;
        display: flex;
        justify-content: center;
        font-family: Verdana, sans-serif;
        padding: 20px;
        height: 80px;
        font-size: 14px;
    }
}
/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
